/* .categoryPage{
    
} */
.cardCategory{
    width: 95vw;
    /* border: 2px solid black; */
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 2%; */
}
.cardCategory img{
    /* margin: 2%; */
    margin-top: 10px;
    /* border: 2px solid black; */
    /* background-color: rgb(195, 188, 188); */
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 2%;
    width: 20vw;
    height: 30vh;
    position: relative;
}
.cardProduct{
    width: 25vw;
justify-content: space-around;
margin: 0.5%;
border: 2px solid rgba(128, 128, 128, 0.418);
box-shadow: 2px 2px 2px rgb(245,222,179);

}
.imgTop{
    position:absolute;
    left: 0;
    top: 0;
    margin-left: -310px;
    opacity: 0;
    transform: all 0.7s ease;
}
.imgTop:hover{
    transform: all 0.7s ease;
    opacity: 1;
}
.ButtonProduct{
    font-size: 1em;
    padding: 0.5em;
    width: 10vw;
    /* border-radius: 5px; */
    margin-bottom: 5px;
    background-color: rgb(245,222,179);
border: 2px solid rgba(128, 128, 128, 0.568);
}
.ButtonProduct:hover{
    background-color: rgba(245, 222, 179, 0.637);  
}


/* oneProduct */

.oneProduct{
  box-shadow: 2px 2px 2px 2px gray;
  left: 10%;
width: 70vw;
position: relative;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
height: auto;
margin: 2%;
/* margin-right: 2%; */
}
.textProduct{
width: 30vw;
}
.oneProduct img{
width: 35vw;
height: 40vh;
padding: 2%;
}
.colorProduct{
    width: 1vw;
    height: 1vh;
    border-radius: 50%;
    box-shadow: 2px 2px 2px gray;
    /* text-align: center; */
}



   